[user]
  name = Nicholas Mason
  email = nmt.mason@googlemail.com
[alias]
  co = checkout
  cob = checkout -b
  slog = log --graph --date=relative --pretty=format:'%h %an:%d %s (%cr)'
[color]
  ui = true
